@font-face {
  font-family: 'Pangram Pangram';
  src: url('/assets/PPRightSans-Medium.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Pangram content';
  src: url('/assets/PPWoodland-Ultralight.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Heading';
  src: url('/assets/font.ttf') format('truetype');
  font-weight: 100;
}

/* *{
  border: 0.5px solid blue;
  box-sizing: border-box;
} */

.module {
  cursor: url('./Images/cursor.png'), auto;	
}

body {

   max-width: 1200px;
   margin: 0 auto;
   background-color: black;
   height: fit-content;
   color: white;
   /* display: block; */
   box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
   font-family: 'Pangram content', serif;
   /* cursor: url('./Images/cursor.png'), auto; */
   /* overflow-x: hidden; */
}

h1{
  color: #c8bfdb;
  margin-left: 10vw;
  /* font-family: 'Heading', serif; */
}

a{
  color: white;
  font-size: 28px;
  text-decoration: none;
  margin: 5% 10%;
  font-family: 'Pangram Panagram', serif;
} 

a:hover {
  color: #bad7e0;
}

#id:hover{
  color:white;
}

p {
  font-family: 'Pangram content', serif;
  color: white;
  font-size: 21px;
  margin:5% 10%;
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

#projects-section .container {
   display: block !important;
   width: 40vw;
   text-align: left;
}

.homepage-img {
  width: 100vw;
  height: 100vh;
  /* object-fit: cover; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./Images/homepage.gif"); */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.homepage-img img{
  all: unset;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

img{
  width:80%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: transform .2s;
  border: 0.4px solid #fff;
}

img:hover{
  opacity: 1;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.thumbnail {
  display: flex;
  flex-wrap: wrap;
  align-self:flex-end;
}

/* .logo {
  font-size: 28px;
  margin: 3%;
} */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 60px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 1px; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: 'Pangram Pangram', serif;
  opacity: 80%;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
  text-align: center;
  /* background-color: blue; */
}

#landing-section{
  height: fit-content;
  width: fit-content;
}
#projects-section{
  height: fit-content;
  width: fit-content;
  margin-top: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  display: flex;
  width: 75%;
}

.column {
  flex: 50%;
}

@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
  #projects-section{
    display: block;
  }
  #projects-section .container{
    width: 100%;
  }
}
