@font-face {
    font-family: 'Pangram Pangram';
    src: url('/assets/PPRightSans-Medium.otf') format('opentype');
    font-weight: 100;
  }
  *{
    border: 0.5px solid blue;
  }
  body {
  
     max-width: 1200px;
     margin: 0 auto;
     background-color: black;
     /* height: 100%; */
     color: white;
     display: block;
     box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
     font-family: 'Pangram Pangram', serif;
     /* overflow: hidden; */
  }
  
  p {
    color: white;
    font-size: 23px;
  }
  
  a{
    color: white;
    font-size: 28px;
    text-decoration: none;
  } 
  
  img{
    height:auto;
    width:100%;
    object-fit: contain;
  }
  main{
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9 / 11vw);
    grid-template-rows: repeat ( 9 / 11vh);
    grid-gap: 0;
    padding: 0;
    margin: 0;
  }
  /*balloon*/
  div:nth-of-type(1){
    background-color: blue;
    padding: 30px;
    grid-column: 1  ;
    grid-row:  1 ;
  }
  
  div:nth-of-type(2){
    background-color: purple;
    padding: 30px;
    grid-column: 1/ 3;
    grid-row: 6 / 6;
  }
  
  div:nth-of-type(3){
    background-color: yellow;
    padding: 30px;
    grid-column: 1 / 9;
    grid-row: 8 / 9;
  }

  
  div:nth-of-type(4){
    background-color: green;
    grid-column: 6/ 6;
    grid-row: 4 / 9;
    padding: 30px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
  }
  
  nav section {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: fit-content;
    display: flex;
  }
  
  nav section a{
    margin-left: 20px;
    padding: 10px;
  }
  
  nav a:hover {
    opacity: 0.7;
  }
    
  .header {
      padding: 20px;
  }
  
  .logo {
      font-size: 28px;
      margin: 2%;
  }
  
  .content {
    margin-top: 150px; 
    margin-left: 75px;
  
  }
  
  .image-flex-container {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 10px;
  }
  
  .image-flex-container img {
    opacity: 0.7;
    object-fit: contain;
  }
  
  .image-flex-container img:hover {
    opacity: 1;
  }
  
  .two{
    width: 48%;
  }
  
  .one{
    width: 100%;
  }
  .linearGrid {
    margin: 50px 100px;
  }
  .linearGrid img{
    width:100%;
    opacity: 0.7;
    margin-bottom: 50px;
  }
  
  .linearGrid img:hover{
    opacity: 1;
  }
  
  .homepage {
    margin: 50px 50px;
  }
  .homepage img{
    width:100%;
    opacity: 1;
    margin-bottom: 50px;
  }