@font-face {
    font-family: 'Pangram Pangram';
    src: url('/assets/PPRightSans-Medium.otf') format('opentype');
    font-weight: 100;
  }
 
  body {

     max-width: 1200px;
     margin: 0 auto;
     background-color: black;
     height: 100%;
     color: white;
     display: block;
     box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
     font-family: 'Pangram Pangram', serif;
  }

  a{
    color: white;
    font-size: 28px;
    text-decoration: none;
  } 
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav section {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: fit-content;
    display: flex;
  }
  
  nav section a{
    margin-left: 20px;
    padding: 10px;
  }
  
  nav a:hover {
    opacity: 0.7;
  }
  
  .logo {
      font-size: 28px;
      margin: 3%;
  }

  .linearGrid {
    margin: 50px 20px;
  }
  .linearGrid img{
    width:100%;
    opacity: 1;
  }
  
  .linearGrid img:hover{
    opacity: 1;
  }


  /* Style buttons */
.btn {
  background-color: #cec9f0;
  border: none;
  border-radius: 20x;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 28px;
  font-family: 'Pangram Pangram';
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
