body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  height: 100%;
  color: white;
  display: block;
  box-sizing: border-box;
  font-family: "main font", serif;
}

a {
  color: white;
  font-size: 28px;
  text-decoration: none;
  margin: 5% 5%;
}

.linearGrid {
  margin: 50px 20px;
}

.linearGrid img {
  width: 70%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

/* Style buttons */
.btn {
  /* background-color: #cec9f0; */
  background-color: black;
  border: 1%;
  border-radius: 10px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 24px;
  font-family: "main font";
  margin-left: 2%;
}

/* Darker background on mouse-over */
.btn:hover {
  /* background-color: RoyalBlue; */
  background: linear-gradient(
    60deg,
    #c8aff0,
    #2b50e5
  ); /* Gradient effect on hover */
  color: #fff;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 800px) {
  .btn {
    font-size: 18px;
    max-width: 50%;
  }
}
