@font-face {
    font-family: 'Pangram Pangram';
    src: url('/assets/PPRightSans-Medium.otf') format('opentype');
    font-weight: 100;
  }
 
  body {

     max-width: 1200px;
     margin: 0 auto;
     background-color: black;
     height: 100%;
     color: white;
     display: block;
     box-sizing: border-box; /* The box border applies to the inside of the div and not to the outside */
     font-family: 'Pangram Pangram', serif;
  }

  a{
    color: white;
    font-size: 28px;
    text-decoration: none;
    margin: 5% 10%;
  } 

  .linearGrid {
    margin: 50px 20px;
  }
  .linearGrid img{
    width:100%;
    opacity: 1;
  }
  
  .linearGrid img:hover{
    opacity: 1;
  }


  /* Style buttons */
.btn {
  /* background-color: #cec9f0; */
  background-color: black;
  border:1%;
  border-radius: 10px;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Pangram Pangram';
  margin-left: 2%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

@media screen and (max-width: 800px) {
  .btn {
    font-size: 18px;
    max-width: 50%;
  }
}



