
@font-face {
  font-family: 'Pangram Pangram';
  src: url('/assets/PPRightSans-Medium.otf') format('opentype');
  font-weight: 100;
}

h1 {
  font-family: 'Pangram Pangram', serif;
}

p {
  font-family: 'Pangram Pangram', serif;
}

a{
  font-family: 'Pangram Pangram', serif;
  color: white;
  font-size: 28px;
  text-decoration: none;
} 

body {
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 30px;

    background-color: black;
    color: white;
  }
  
  .header {
    padding: 20px;
}

.logo-nav-container {
  display: flex;
  align-items: center;
}

.logo {
    float: left;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 430px;

    font-family: 'Pangram Pangram', serif;
    color: white;
    font-size: 28px;
    text-decoration: none;

    display: inline-block;
}

.nav {
    float: right;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    margin-top: 5px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.nav a {
    display:inline-block;
    /*color: #333;*/
    color:white;
    font-family: 'Pangram Pangram', serif;
    text-decoration: none;
    text-align:center;
    padding: 10px 5px;
    border-radius: 5px;
    /*background-color: #ccc;*/
}

.nav a:hover {
    opacity: 0.7;
}

.image-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: 40px;
  gap:100px;
  /*grid-auto-rows: minmax(200px, auto);*/
  overflow: auto;
  padding: 50px;
}

.image-grid-container img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-container img:hover {
  opacity: 1;
}


.image-flex-container {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: 40px;
  gap:100px;
  /*grid-auto-rows: minmax(200px, auto);*/
  overflow: auto;
  padding: 50px;
}

.image-flex-container img {
  opacity: 0.7;
  width: 400px;
  height: 400px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.image-flex-container img:hover {
  opacity: 1;
}