/* * {
  border: 0.5px solid blue;
  box-sizing: border-box;
} */

@import url("https://use.typekit.net/ifl4sqh.css");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

body {
  max-width: 90vw;
  margin: 0 auto;
  background-color: black;
  height: fit-content;
  color: white;
  box-sizing: border-box;
  font-family: "main font", serif;
  cursor: url("Images/pointer.png"), auto;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin: 5% 5%;
}

p {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
  margin: 5% 5%;
  line-height: 1.5;
}

.thumbnail {
  height: 320px;
  width: 95%;
  max-width: 100%;
  border-radius: 10px;
  /* margin: 3%; */
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: hidden;
  position: relative;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  left: 0;
  transition: transform 0.5s ease; /* Smooth transition */
  transform-origin: center center; /* Zoom from the center */
}

.thumbnail:hover img {
  background-color: rgb(135, 152, 229);
  transform: scale(1.07);
}

#projects-section {
  height: fit-content;
  width: fit-content;
  margin: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projects-section .container {
  display: block !important;
  justify-content: space-around;
  width: 40vw;
  text-align: left;
  padding-top: 3%;
  padding-bottom: 2%;
  border-bottom: #fff;
  border: 0.1px solid rgba(255, 255, 255, 0.669);
  border-radius: 5px;
  box-sizing: border-box;
}

#projects-section .container:last-child {
  margin-bottom: 0;
}

#title {
  white-space: nowrap;
  font-family: "spirits-neutral", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

#title:hover {
  color: #a7dbeb;
  text-shadow: 0 0 2px #f1efff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 60px;
  z-index: 99;
  border: 1px;
  outline: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 80%;
}

#myBtn:hover {
  background-color: #555;
}

.tool-name span {
  font-size: 14px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.5vw;
  margin: 1%;
  display: inline-block; /* Ensure spans are inline-block */
}

@media screen and (max-width: 750px) {
  body {
    margin: 0;
  }
  .column {
    width: 100%;
  }
  #projects-section {
    display: block;
  }

  a {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  #title {
    white-space: nowrap;
    font-family: "spirits-neutral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    word-wrap: normal;
  }
}

@media (max-width: 950px) {
  #projects-section .container {
    width: 100%;
    margin: 0 auto;
  }

  #title {
    white-space: nowrap;
    font-family: "spirits-neutral", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    word-wrap: normal;
  }
  p {
    font-size: 14px;
  }
}
