/* * {
  border: 0.5px solid blue;
  box-sizing: border-box;
} */

body {
  max-width: 90vw;
  margin: 0 auto;
  background-color: black;
  color: white;
  display: block;
  box-sizing: border-box;
  font-family: "main font", serif;
  cursor: url("Images/pointer.png"), auto;
}

a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 5% 5%;
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

.homepage-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.homepage-img img {
  all: unset;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.resume img {
  width: 60vw;
  height: auto;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 10px;
}

/* Style buttons */
.download-resume {
  /* background-color: #cec9f0; */
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: "main font";
  margin-left: 70%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}

/* Darker background on mouse-over */
.download-resume:hover {
  /* background-color: RoyalBlue; */
  background: linear-gradient(
    120deg,
    #9c82c5,
    #e1f789
  ); /* Gradient effect on hover */
  color: #fff;
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 800px) {
  .btn {
    font-size: 18px;
    max-width: 50%;
  }
}
